// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bookmark_content{
  padding-top: 15px;
  margin-top: 30px;
  border-top: 1px dotted #CCCCCC; }
